@import url("https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Oxanium", sans-serif;
}
/* cover 3/4 to the right transition */
.home-background {
  background-image: linear-gradient(
      to right,
      rgba(197, 30, 30, 0.5),
      transparent
    ),
    url("https://assets.website-files.com/633148302ffcde12c15b7e7d/6332b2cee96e6dc40536be2d_Mechanic%20Home%20Banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

.service-background {
  background-image: linear-gradient(
      to right,
      rgba(62, 7, 7, 0.5),
      transparent
    ),
    url("https://assets.website-files.com/633148302ffcde12c15b7e7d/633417e6f7701e34e46f04a7_Car%20Service.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

.about-background {
  background-image: linear-gradient(
      to right,
      rgba(199, 16, 16, 0.5),
      transparent
    ),
    url("https://images.unsplash.com/photo-1619642751034-765dfdf7c58e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2FyJTIwcmVwYWlyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800&q=60");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 70vh;
}

@keyframes pulse-slow {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulse-fast {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-pulse-slow {
  animation: pulse-slow 1.5s infinite;
}

.animate-pulse-fast {
  animation: pulse-fast 0.8s infinite;
}
